/* สีเฉพาะของกัญชา */
.bg-purple { background-color: #9c27b0; color: white; }
.text-purple { color: #9c27b0; }

/* Effect ตอนชี้เมาส์ */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.out-of-stock {
  opacity: 0.6;              /* ทำให้จางลง */
  filter: grayscale(100%);   /* ทำให้เป็นสีขาวดำ */
  cursor: not-allowed !important; /* เปลี่ยนเมาส์เป็นเครื่องหมายห้าม */
  
  /* ปิด Hover Effect */
  &:hover {
    transform: none;
    box-shadow: none !important;
  }
}